/****************** Reset da pagina ********************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;   /* nos permite incluir o preenchimento e a borda na largura e altura total de um elemento. */
}

/********* Configuração dos links de menu  ************/

/*Retira os marcadores bolinha dos menus.*/
ul{
  list-style: none;
}

a{
  text-decoration: none; /*Retira a formatação dos textos*/
}

img{
  width: 100%;
  height: auto;
}

/**************** Variaveis ***************/
:root{
  
  --header-height: 4.5rem;

   /* colors */
   --hue: 342;

   /* HSL color mode */
   --base-color: hsl(var(--hue) 49% 34%);
   --base-color-second: hsl(var(--hue) 65% 88%);
   --base-color-alt: hsl(var(--hue) 57% 53%);
   --title-color: hsl(var(--hue) 41% 10%);
   --text-color: hsl(0 0% 46%);
   --text-color-light: hsl(0 0% 98%);
   --body-color: hsl(80 7% 92%);
   --body-color-second: white;

   /*********** Fonts **********/

   --title-font-size: 1.875rem;
   --subtitle-font-size: 1rem; 
   --title-font: 'Poppins', sans-serif;
   --body-font: 'DM sem', sans-serif;
}

/******** Base ***************/

/*Muda suavemente ao clicar nos menus*/
html{
  scroll-behavior: smooth;
}

body{
  font: 400 1rem var(--body-font); /*Fontes */
  color: var(--text-color); /*cores*/
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
}

.title{
  font: 700 var(--title-font-size) var(--title-font);
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

/*Configuração do Botão 'Agende seu horario'*/

.button {
  background-color: var(--base-color);
  color: var(--text-color-light);
  height: 3.5rem; /*Altura do botão*/
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem; /*borda arredondada**/
  font:500 1rem var(--body-font);
  transition: background 0.5s; /*Transição de cores ao passar o mouse */

}

.button:hover{
background: var(--base-color-alt);
}

/* Configuração da linha de separação de cada seção 1*/
.divider-1{
  height: 1px;
  background: linear-gradient(270deg,
  hsla(var(--hue), 36%, 57%, 1) 0%,
  hsla(var(--hue), 65%, 88%, 0.34) 100%
  );
}

/* Configuração da linha de separação de cada seção 2*/

.divider-2{
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue), 65%, 88%, 0.34),
    hsla(var(--hue), 36%, 57%, 1)
  );
}


/****************** Layout ****************/
#header{
 border-bottom: 1px solid #E4E4E4; /*borda abaixo da barra de navegação*/
 margin-bottom: 2rem;
 display: flex;

 width: 100%;
 position: fixed;
 top: 0;
 left: 0;
 z-index: 100;
 background-color: var(--body-color-second);
 width: 100%;
}

/* Configuração do header ao dar scroll na pagina  */
#header.scroll{
  /* background: var(--base-color); */
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1); /*Sombra na borda do header ao dar scroll na pagina*/
}

#header.scroll .logo span{
  /* color: white; */
  transition: 0.5s;
}

#header.scroll .icon-menu{
  /* color: white; */
  transition: 0.5s;
}

/* main{
  margin-top: calc(var(--header-height) + 2rem);
   
} */

/**************** Logo ***********/
.logo{
  font: 700 1.31rem var(--title-font);
  color: var(--title-color);

}

.logo span{
  color: var(--base-color);
}

.logo-alt span{
  color: var(--body-color);
}

/**************** Navigation ***********/
nav{
  height: var(--header-height);
  display: flex; /*Itens um do lado do outro*/
  align-items: center;
  justify-content: space-between; /*divide a logo e o menu cada um para o lado.*/
  width: 100%;
}



nav ul li{
  text-align: center;
}

/* Efeito de transição de 0.05 segundos em cima dos menus*/
nav ul li a {
  transition: color 0.2s;
  position: relative;
}

/* Efeito ao passar o mouse em cima dos menus */
nav ul li a:hover,
nav ul li a.active {
  color: var(--base-color);

}

/*Configuração para criar linha abaixo dos menus*/
nav ul li a::after {
  content: " ";
  width: 0%; /*Esconde o tamanho da linha que aparece abaixo dos menus*/
  height: 2px;  /* Espessura da linha abaixo dos menus*/
  background: var(--base-color); /*Cor da linha*/

  position: absolute; /*Posicionamento absoluto em relação <a>*/
  left: 0%; /*Posição da onde começa a linha*/
  bottom: -1.5rem; /* Distancia da linha para com o menu*/

  transition: 0.2s; /* Transição suave*/
}

nav ul li a:hover::after,
nav ul li a.active::after
{
  width: 100%; /*Termino da linha */
 
}


nav .menu{
  opacity: 0;  /* Deixa os menus transparente*/
  visibility: hidden;  /*Esconde os menus*/
  top: -20rem; /*Quantidade de rem que ele se esonde acima*/
  transition: 0.4s; /*Tempo do menu descer */
}

nav .menu ul{
  display: none;
}

  /******************* Mostrar menu *****************/

/* Não tem espaço entre NAV e .SHOW porque NAV ira receber uma classe .show  */
  nav.show .menu{
    opacity: 1;  
    visibility: visible;  

    background: var(--body-color);
    height: 100vh;  /*100% viewport height*/
    width: 100vw; /*100% viewport widht*/

    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    place-content: center;
  }


  nav.show .menu ul{
    display: grid; /*Como e mostrado o menu ao aparecer*/
  }

  nav.show ul.grid{
    gap: 4rem;   /*Define um intervalo entre linhas e colunas*/
  }

/* Toggle menu */
.toggle {
  color: var(--base-color); /* Cor do botão de menui e close*/
  font-size: 1.5rem;
  cursor: pointer; /* Altera a seta do mouse ao passar pelo botão de menu*/
}

/* Configuração do botão close X*/
nav .icon-close{
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.5rem; /*distancia do X de cima da pagina ate 1.5rem*/
  right: 1.5rem; /*distancia do X do canro da pagina ate 1.5rem*/

  transition: 0.4s; /*Transição do efeito do botão x subir*/
}

nav.show .icon-close{
  visibility: visible; /*Deixa o botão visivel*/
  opacity: 1;
  top: 1.5rem; /*Posição de onde o botão fica ao aparecer*/
}

.container{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  }

  .grid{
    display: grid;
    gap: 2rem;  /* Espaçamento de 32px*/
  }

.section{
  padding: calc(5rem + var(--header-height)) 0;
  
}

.section .title{
  margin-bottom: 1rem;
}

.section .subtitle{
  font-size: var(--subtitle-font-size);
}

.section header{
  margin-bottom: 4rem; /*Margem na parte inferir de 64px*/
}

.section header strong{
  color: var(--base-color);
}

/*********** Home **************/
#home{
  overflow: hidden;
}

#home .container{
  margin: 0;
  
}

/*Deixa minha imagem com posição relativa*/
#home .image{
  position: relative;
}

/* Faz uma imagem com relação a imagem ja existente, e posiciona atras*/
#home .image::before {
  content: ' ';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -16.8%; /*Feito o calculo de 68*100/405 = 16,8% */
  left: 16.8%; /* posicionado a esquerda */
  z-index: 0; /*Posiciona o objeto atras da imagem */
}

#home .image img{
  position: relative;
  right: 2.93rem;
}

/* Borda arredondada*/
#home .image img, #home .image::before {
  border-radius: 0.25rem;
}

#home .text{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

/* Margem inferior de 1rem ou 16px.*/
#home .text h2{
  margin-bottom: 1rem;
  
}

/* Margem inferior de 2rem ou 32px.*/
#home .text p{
  margin-bottom: 2rem;

}

/************ About **********************/

#about {
  background: var(--body-color-second);
}

#about .container{
  margin: 0;
  
}

/*Deixa minha imagem com posição relativa*/
#about .image{
  position: relative;
}

/* Faz uma imagem com relação a imagem ja existente, e posiciona atras*/
#about .image::before {
  content: ' ';
  height: 100%;
  width: 100%;
  background: var(--base-color-second);
  position: absolute;
  top: -8.3%; /*Feito o calculo de 68*100/405 = 16,8% */
  left: -33%; /* posicionado a esquerda */
  z-index: 0; /*Posiciona o objeto atras da imagem */
}

#about .image img{
  position: relative;
}

/* Borda arredondada*/
#about .image img, 
#about .image::before {
  border-radius: 0.25rem;
}

#about .text{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*********** Home **************/

.cards.grid{
  gap: 1.5rem; /*Espaçamento entre cards*/
}

.card{
  padding: 3.625rem 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-bottom: .25rem solid var(--base-color);
  border-radius: .25rem .25rem 0 0;
  text-align: center;
  background: var(--body-color-second);
}

.card i{
   display: block;
   margin-bottom: 1.5rem;
   font-size: 5rem;
   color: var(--base-color);
}

.card .title{
  font-size: 1.5rem;
  margin-bottom: .75rem,;
}

/*********** Depoimentos **************/
#testimonials{
  background: var(--body-color-second); /*Cor de fundo*/
}

#testimonials .container{
  margin-left: 0;
  margin-right: 0;
}

#testimonials header{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 0;
}


#testimonials blockquote{  /**/
  padding: 2rem;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  border-radius: 0.25rem;
  background: var(--body-color)
}

#testimonials blockquote p{
  position: relative;
  text-indent: 1.875rem; /*Identação do texto*/
  margin-bottom: 1.5rem;
  color: var(--title-color);
}


#testimonials blockquote p span{
  font: 700 2.5rem serif;
  
  position: absolute;
  top: -0.5rem; /*Posiçã do span de aspas veticalmente*/
  left: -1.875rem; /*Posição do span aspas horizontalmente*/
  color: var(--base-color);
}

#testimonials cite{
display: flex;
align-items: center;
font-style: normal;
}

#testimonials cite img {
  width: 2rem;
  height: 2rem;
  object-fit: cover; /*Cobre com a imagem todo o espaco da tag IMG*/
  clip-path: circle();
  margin-right: 0.5rem;


}

/* Swiper */
.swiper-slide{
  height: auto;
  padding: 4rem 1rem;
}

.swiper-pagination-bullet-active{
  background: var(--base-color); /*Cor da bolinha da paginação*/
}

/*********** Contatos **************/

#contact .grid{
  gap: 4rem;
}

#contact .text p {
  margin-bottom: 2rem;

}

#contact .button i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
}

#contact ul.grid {
  gap: 2rem; /*Distancia de um item da lista pra outra*/
}

#contact ul li {
  display: flex;
  align-items: center; /*Centraliza a lista*/
 
}

#contact ul li i {
  font-size: 1.5rem;
  margin-right: 0.625rem;
  color: var(--base-color); /* Cor dos icones*/
}

/*********** Rodapé **************/

footer{
  background-color: var(--base-color);

}

footer.section{
padding: 4rem 0;
}

footer .logo{
  display: inline-block; /* Usado para colocar um espaço embaixo da logo*/
  margin-bottom: 1.5rem;/* Distancia do espaço*/
}
 /*Configuração do 'P'*/
footer .brand p{
  color: var(--text-color-light);
  margin-bottom:0.75rem ;
}

/*Configuração dos icones de redes sociais*/
footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social{
  grid-auto-flow: column;
  width: fit-content; /* encaixe do conteudo rede social*/
}

/* Configuração do espacamentro entre icones */
footer .social a{
transition: 0.3s;
display: inline-block;

}

footer .social a:hover{
  transform: translateY(-8px); /*Efeito vertical dos icones de redes socias*/
}

/*********** Seta para voltar ao topo **********/

.back-to-top{
  background: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

  .back-to-top.show{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }



  /***************************** Responsivo *******************************/


  /* /* extra largue devices : 1200 > */
    @media (min-width: 1200px){

      /* classes para reutilizar */

      /* Ajuste da barra de navegação */
      .container{
        max-width: 1120px;
        margin-left: auto;
        margin-right: auto;
      }
      
      .section{
        padding: 10rem 0;
      }

        /* Centralizando titulos  */
      .section header,
      #testimonials header{
        max-width: 32rem;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

      .button{
        height: 3.125rem;
      }

        /* navegação */
      nav .menu{
        opacity: 1;
        visibility: visible;
        top: 0;
      }

      nav .menu ul{
        display: flex;
        gap: 2rem;
      }

      /* Fonte dos links de menu */
      nav .menu ul li a.title {
        font: 400 1rem var(--body-font);
        -webkit-font-smoothing: antialiased;
        
      }

      nav .menu ul li a.title.active {
        font-weight: bold ;
        -webkit-font-smoothing: auto;
      }

      /* Retira o icone hamburguer do menu  */
      nav .icon-menu{
        display: none;
      }


      /*********** Layout ****************/
      main{
        margin-top: var(--header-height);
         
      }

      /*********** home /*************/

      #home .container{
        grid-auto-flow: column; 
        justify-content: space-between;
        margin: 0 auto;
      }
      

    
      #home .image{
        order: 1;
      }

      #home .text{
        order: 0;
        max-width: 24rem;
        text-align: left;
      }
          /*About*/
        #about .container{
          margin: 0 auto;
          grid-auto-flow: column;
        }

        /************* Serviços **************/ 
        /* Agrupando os cards em frações */
        .cards {
          grid-template-columns: 1fr 1fr 1fr;
        }

        .card {
          padding-left: 3rem;
          padding-right: 3rem;
        }


        /* Depoimentos**/

        #testimonials .container{
          margin-left: auto;
          margin-right: auto;
        }
        
        /********* Contato ************/
        #contact .container{
          grid-auto-flow: column;
          align-items: center;

        }

        #contact .text{
          max-width: 25rem;

        }

        /************** footer ************/
        footer.section{
          padding: 3.75rem 0;
        
        }

        footer .container{
          grid-auto-flow: column; /* Coloca os itens em colunas */
          align-items: center; /* Centraliza os icones de redes socias centralizado em relação a logo do rodape*/
          justify-content: space-between; /*insere espaço entre os dois elementos*/
        }

        footer .logo{
          font-size: 2.25rem;
        }

     
    }










  /* large devices :1023 > */
  /* large devices : 992 >  */

  @media (min-width: 992px){
    :root{
      --title-font-size: 2.25rem;
      --subtitle-font-size:1.125rem;
    }
    

  }

  /* medium devices: 767 > */ 







